body {
    background-color: rgb(205, 195, 50);
    
}



p {
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
}

h3 {
    text-align: center;
}
#container {
    background-color: white;
    width: 500px;
    margin:auto;
}

#header {
    background-color: #ff8566;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Lobster', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
 
 #instructions{
    background-color: #ff8566;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Lobster', arial;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
}
#content {
    padding: 10px;
}

#button {
    align-content: center;
}



#main {
    width: 600px;
    float: right;
    align-items: center;


}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999 ;
    color: white;
    text-align: right;
}

#timer {
    font-size:2.5em;
    text-align: center;
}

/*REEEEEEEEEEESPONSIVE*/
@media (max-width: 650px) {
    
    #container{
      width: 100%;
    }
    
    p{
      font-size:1.5em;
    }
  
  }
  