body {
    background-color: #ffffff
    font-family: Arial, Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: red;
}



p {
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
}

h3 {
    text-align: center;
}
#container {
    background-color: white;
    width: 500px;
    margin:auto;
}

#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px;
}

#button {
    align-content: center;
}



#main {
    width: 600px;
    float: right;
    align-items: center;


}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999 ;
    color: white;
    text-align: right;
}

#timer {
    font-size:2.5em;
    text-align: center;
}

/*REEEEEEEEEEESPONSIVE*/
@media (max-width: 650px) {
    
    #container{
      width: 100%;
    }
    
    p{
      font-size:1.5em;
    }
  
  }
  